/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
}

/* Barra de navegación */
.navbar {
  display: flex;
  align-items: center;
  background-color: #111;
  padding: 10px 20px;
}

.logo {
  height: 50px;
  margin-right: 20px;
  border-radius: 10%;
  width: 60px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}

.nav-menu li a:hover {
  background-color: #ee0a0a; /* Fondo rojo al pasar el mouse */
  color: white;
  border-radius: 4px;
}

.nav-menu li a.active {
  background-color: #ee0a0a;
  color: white;
  border-radius: 4px;
}
/* Sección de contenido */
.content {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  margin: 0 auto; /* Centra la sección */
}
.content p {
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  text-align: left;
  margin: 0 auto; /* Centra la sección */
}
/* Pie de página */
footer {
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-icon {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: #e61919;
}
